Flask==3.0.0


pathlib
defusedxml
cffi
future
pillow
ipython

jupyter
pip
panel
attrs
wheel

cryptography
docutils
sphinx
tornado
jinja2
keyring
nltk
matplotlib
numpy
pytest
regex
scipy
scikit-learn
click
tqdm
requests
pyparsing
dask
rich
colorama
ipywidgets
notebook
typing_extensions
markupsafe
werkzeug
blinker
itsdangerous
setuptools
pytz
numba
sympy
mpmath
python
decorator
tabulate
multipledispatch
distributed
transformers
dill
conda
packaging
psutil
urllib3
fsspec
snappy
lz4
zstandard
paramiko
ujson
libarchive
joblib
cloudpickle

certifi
networkx
pandas
idna
chardet

pyyaml
unidecode
zipp